@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Poppins, sans-serif;
    background: #fff;
    color: #222;
  }
}

:root {
  @apply scroll-smooth;
}
